:root {
  --bg-primary: #463c77;
}
.bg-main {
  background-color: var(--bg-primary);
}
.fg-main {
  color: var(--bg-primary);
}
a {
  text-decoration: none;
}
.cursor-pointer {
  cursor: pointer;
}
.customShadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: #412c7d;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb {
  background: #ebe5e5;
  border-radius: 0px;
}
.icon {
  cursor: pointer;
}
.rounded-md {
  border-radius: 15px;
}
.chipBg {
  background-color: #edebf1;
}
/* .customSidebarScroll {
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--bg-primary);
  ::-webkit-scrollbar {
    width: 6px !important;
    border-radius: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--bg-primary);
    border-radius: 12px;
  }
  ::-webkit-scrollbar-track {
    background-color: var(--bg-primary);
    border-radius: 4%;
  }
} */
/* .................<Sidebar starts>....................... */
.linksScroll {
  overflow-y: auto;
  height: 100%;
  max-height: 100%;
}

.sidebarOuterLg {
  position: relative;
  /* z-index: 50; */
  border-radius: 15px;
  background-color: transparent;
  height: 100vh;
  width: 22%;
  transition: width 0.2s linear;
}
.sidebarOuterSm {
  position: relative;
  /* z-index: 50; */
  /* margin: 5px 5px; */
  border-radius: 15px;
  background-color: transparent;
  height: 98.9vh;
  width: 6%;
  transition: width 0.2s linear;
}
.sidebarWrapperSm {
  /* position: relative; */
  margin: 5px 5px;
  border-radius: 15px;
  background-color: var(--bg-primary);
  height: 98.9vh;
  width: 5%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 40px 8px;
  transition: width 0.2s linear;
}
.sidebarWrapperLg {
  /* position: relative; */
  margin: 5px 5px;
  border-radius: 15px;
  background-color: var(--bg-primary);
  height: 98%;
  /* max-height: 100vh; */
  /* overflow-y: auto; */
  width: 17%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 40px 8px;
  transition: width 0.2s linear;
}
.smSidebarWrapper {
  position: relative;
  margin: 5px 5px;
  border-radius: 15px;
  background-color: var(--bg-primary);
  height: 98.9vh;
  width: 5%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 40px 8px;
}
.sidebarLogo img {
  width: 143px;
  height: 81px;
  max-width: 90%;
  object-fit: contain;
}
.divider {
  background-color: #979797b8;
  height: 1px;
  width: 100%;
}
.linksWrapper {
  height: 100%;
  /* background-color: red; */
  overflow-y: auto;
}
.sidebarLink {
  /* height: 30px; */
  border-radius: 7px;
  padding: 10px 10px;

  cursor: pointer;
  color: white;
}
.sidebarLinkActive {
  border-radius: 7px;
  padding: 10px 10px !important;
  cursor: pointer;
  color: white;
  background-color: #585085;
}
.sidebarLink:hover {
  background-color: #585085;
}
.sidebarToggle {
  height: 30px;
  width: 30px;
  background-color: #463c77;
  position: absolute;
  right: -14px;
  top: 127px;
  display: flex;
  justify-content: centere;
  align-items: center;
  color: white;
  border: 1px solid #463c77;
  box-shadow: -6px 0px 22px 0px #191e4566;
  border-radius: 7px;
  cursor: pointer;
}
.sidebarLinks {
  /* height: 100%; */
  /* background-color: red; */
  /* max-height: 100%; */
  overflow-y: scroll;
}
/* .................<Sidebar ends>....................... */
/* .................<Navbar Starts>....................... */

.navbarWrapper {
  /* height: 120px !important; */
  padding: 15px 0px 15px 15px;
  width: 100%;
  background: #fff;
  /* margin-bottom: 30px; */
}
.searchBox {
  height: 38px;
  border: 1px solid #5f5f5f4a;
  border-radius: 6px;
  background-color: #fff;
  width: 35%;
}
.searchBox svg {
  margin: 10px;
}
/* .ActionItems {
  width: 50%;
  justify-content: space-between;
} */
.routeName {
  width: 22%;
  height: 100%;
}
.menuItems {
  width: 40%;
  flex-grow: 1;
  height: 100%;
}
.navbarWrapper .searchBox input {
  outline: none;
  border: none;
}
.searchBoxWrapper {
  /* width: 49%; */
  height: 100%;
}
.chip {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #f93c65;
  top: -12px;
  right: -4px;
  padding: 10px;
}
.navAvatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #ebebeb;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.userSection {
  /* width: 100%; */
  /* flex-grow: 1; */
  white-space: nowrap;
  /* gap: 8px; */
}
/* .userDropdownIcon {
  position: absolute;
  right: -50px;
} */
.flagsDropdown {
  position: absolute;
  padding: 5px 10px;
  top: 24px;
  width: 130px;
  right: -4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  height: 120px;
  max-height: 120px;
  background-color: #ebebeb;
  overflow-y: auto;
  border-radius: 7px;
  /* box-shadow: 0px 22px 0px #ebebeb; */
}
.flagList {
  /* background-color: red; */
  border-radius: 6px;
  cursor: pointer;
  padding: 4px 3px;
  gap: 5px;
}
.flagList:hover {
  background-color: rgb(214, 205, 205);
}
.setLanguage img {
  width: 30px;
  height: 20px;
}
/* .................<Navbar ends>....................... */

/* main section css */
.routesWrapper {
  padding: 15px;
}
.mainComponent {
  margin-top: 12vh;
}
.assesmentsWrapper {
  padding: 0 0;
}
/* main section css ends here*/

/* MINISIDEBAR CSS STARTS HERE */
.miniSidebar {
  position: absolute;
  background-color: var(--bg-primary);
  height: 100vh;
  max-height: 100vh;
  width: 0; /* Initially set to 0 */
  overflow: hidden;
  transition: width 0.5s ease; /* Apply transition */
  z-index: 999;
}

.miniSidebar.open {
  width: 100%; /* Open sidebar width */
}

.miniSidebar.closed {
  width: 0; /* Close sidebar width */
}

.hide {
  transform: translateX(-50%);
  transition: all 0.2s linear;
}
.closeIconWrapper {
  height: 30px;
  width: 30px;
  background-color: #463c77;
  position: absolute;
  right: -9px;
  top: 87px;
  display: flex;
  justify-content: centere;
  align-items: center;
  color: white;
  border: 1px solid #605888;
  box-shadow: -6px 0px 22px 0px #191e4566;
  border-radius: 7px;
  cursor: pointer;
}
/* MINISIDEBAR CSS ENDS HERE */

/* .........................<COURSE ROUTE CSS STARTS>........................ */
.filterationCourse {
  width: 20%;
  /* background-color: white; */
  border-radius: 15px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.courseChip {
  padding: 4px 10px;
  border-radius: 16px;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}
.courseInstructor {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  gap: 10px;
}
.courseInstructor h4 {
  font-size: 14px;
  color: #7f53fe;
}
.courseInstructor h5 {
  color: gray;
  font-size: 14px;
}
.courseInstructor .userIcon {
  height: 14px;
  width: 14px;
}
.courseDescription {
  font-size: 14px;
}
.salesPrice {
  font-size: 22px;
  color: #463c77;
}
.normalPrice {
  font-size: 15px;
  text-decoration: line-through;
  color: #1b1b1b99;
}
.coursesWrapper {
  width: 80%;
}
.courseLists {
  display: flex;
  flex-wrap: wrap;
}
.courseCard {
  border-radius: 15px;
  background-color: white;
}
.filterSmSCreen {
  position: fixed;
  display: block !important;
  top: 0;
  left: 0;
  min-height: 100vh;
  overflow-y: auto;
  width: 100%;
  background: white;
  padding: 10px 10px;
  z-index: 9999;
}
.filterItemsWrapper .filterTitle {
  font-size: 14px;
}
.filterItemsWrapper label,
.totalViewsRating {
  font-size: 13px !important;
}
.starFilter .ratingPoint {
  font-size: 13px;
}
.starFilter .totalRatings {
  font-size: 13px;
}
/* .........................<COURSE ROUTE CSS ENDS>........................ */

/* BILAL CSS CODE FOR COURSE DETIALS */
/* bilal css  */

.second {
  background-color: #ffffff;
}
.video-dot {
  font-size: 14px;
  color: #1b1b1b99;
}
.video-time {
  color: #7f53fe;
  font-size: 14px;
}
.colored-data {
  background-color: #f9f9f9e5;
}
.colored-heading {
  color: #1b1b1b99;
}
.icon {
  color: #1b1b1b1a;
}
.icon-time {
  color: #1b1b1b1a;
  font-size: 14px;
}
.colored-time {
  color: #7f53fe;
  font-size: 14px;
  margin-bottom: 10px;
}
.colored-time-2 {
  color: #44ab96;
  font-size: 14px;
  margin-bottom: 10px;
}
.playing {
  background-color: #7f53fe;
}
.completed {
  background-color: #44ab96;
}
.viser-helper {
  color: #7f53fe;
}
.digital-studio {
  position: relative;
  bottom: 7px;
  font-size: 12px;
}
.last-text {
  color: #1b1b1b99;
  font-size: 12px;
}
.first-text {
  position: relative;
  bottom: 15px;
  color: #1b1b1b99;
}
.button {
  width: 230px;
  border-radius: 10px;
  border: 1px solid #463c77;
  background-color: white;
  padding: 10px;
  color: #463c77;
  font-weight: bold;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
}
/* BILAL CSS CODE FOR COURSE DETIALS */
/* .......................<Cognitive assesment route css starts>..................... */
.instructionBox {
  background-color: var(--bg-primary);
  padding: 50px;
  color: white;
  /* gap: 20px; */
}
.instructionBox h4 {
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 15px;
  text-align: start;
}
.instructionBox ul {
  list-style-type: none;
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.instructionBox ul li {
  font-size: 12px;
  font-weight: 300;
  color: #f0f0f0;
}
.instructionBox button {
  width: 100%;
  margin: 20px 0;
  padding: 15px 5px;
  border: none;
  border-radius: 8px;
}

/* .......................<Cognitive assesment route css ends>..................... */

/* ........................<Assesment route css starts>.............................. */
.assesmentWrapper {
  background-color: var(--bg-primary);
  min-height: 100vh;
}
.progressBarOuter {
  background-color: #6c6491 !important;
}
.progressBarInner {
  background-color: #ffffff !important;
}
.question {
  padding: 12px 12px 12px 12px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  display: flex;
  gap: 5px;
  align-items: center;
  background-color: #f9f9f9;
  cursor: pointer;
}
.selectedQuestion {
  padding: 12px 12px 12px 12px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  display: flex;
  gap: 5px;
  align-items: center;
  background-color: #f4f0ff;
  cursor: pointer;
  width: 100%;
}
.assesmentWrapper .btnSubmit {
  width: 100%;

  padding: 15px 5px;
  border: none;
  border-radius: 8px;
  background-color: var(--bg-primary);
  color: white;
}
.questionImageWrapper {
  height: 350px;
  width: 100%;
}
.btnCancel {
  background-color: #edebf1;
  color: #463c77;
  font-weight: bold;
  border: none;
}
.btnNext {
  background-color: #463c77;
  color: white;
  font-weight: bold;
  border: none;
}
/* ........................<Assesment route css ends>.............................. */

/* <>..............................................<Grade Book>.............................,. */
/* .table-striped tbody tr:nth-of-type(odd) {
  background-color: red !important;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: white;
} */
.gradesTable thead {
  border-bottom: 1px solid #d1cccc;
}
.gradesTable {
  min-height: 80vh;
}
.popupWrapper {
  position: absolute;
  display: flex;
  padding: 8px 5px;
  box-shadow: -6px 0px 22px 0px #191e4566;
  background: white;
  flex-direction: column;
  gap: 2px;
  width: 120px;
  height: auto;
  z-index: 100;
  border-radius: 8px;
  /* top: 8px; */
}
.optionLists:hover {
  background-color: #66666626;
}
.iconWrapper {
  height: 40px;
  width: 40px;
  border-radius: 6px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gradeTableDropdown {
  position: absolute;
  right: 110px;
  top: 10px;
}
/* <>..............................................<Grade Book>.............................,. */

/* <>..................................<Exams route css starts>..................................... */
.iconWithBg {
  background-color: #6f6795;
  padding: 5px;
}

.examChip {
  padding: 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  font-size: 10px;
}
/* .firstChild {
  background-color: #ede7ff;
  color: #7f53fe;
}
.secondChild {
  background-color: #e5f3f2;
  color: #30ada1;
} */
.examChipsWrapper > :nth-child(3) {
  background-color: #e4effc;
  color: #3d87dc;
}
.examChipsWrapper > :nth-child(2) {
  background-color: #e5f3f2;
  color: #30ada1;
}
.examChipsWrapper > :nth-child(1) {
  background-color: #ede7ff;
  color: #7f53fe;
}
.examSvgsText span {
  color: #979797;
  text-transform: capitalize;
  font-size: 10px;
}
.examDataWrapper {
  box-shadow: 0px 11px 24px 0px #7676762e;
  border-radius: 8px;
}

/*  EXAM MODAL CSS */
.examModalWrapper {
  border-radius: 22px;
}
.examModalHeader {
  height: 50px;
  background-color: #edebf1;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 20px;
  /* padding: 0 15px; */
}
.examModalHeader p,
h4 {
  padding: 0;
  margin: 0;
}
.examModalHeader .iconWrapper {
  width: 38px;
  height: 38px;
  border-radius: 10px;
  background-color: #463c77;
  color: white;
}
.Examcounter {
  height: 35px;
  display: flex;
  width: 50%;
  background-color: white;
  border-radius: 8px;
  padding: 0 6px;
  justify-content: space-between;
  border: 1px solid #bab6c8;
  align-items: center;
}
.counterIconWrapper {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  border-radius: 10px;
  border: 1px solid #bab6c8;
  cursor: pointer;
}
.btnFooter {
  width: 100%;
  padding: 5px 25px;
  border-radius: 6px;
  border: none;
}
.modalWrapper label {
  font-weight: bold;
  font-size: 14px;
}
.modalWrapper input {
  font-size: 12px;
}
.modalWrapper input:focus-within,
.modalWrapper select:focus-within {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #e6e6e6;
}
#classSelect option:hover {
  background-color: red !important;
}

/* <>..................................<Exams route css ends>..................................... */

/* Overwriting React Modal backdrop */
.ReactModal__Overlay {
  background-color: rgb(113 110 110 / 75%) !important;
  z-index: 100;
}
.ReactModal__Content {
  background-color: #fff;
  background: white;
  opacity: 100 !important;
  width: 60% !important;
  padding: 0 !important;
  box-shadow: 0px 8px 15px 0px #35353524;
  border-radius: 20px !important;
  overflow-x: hidden !important;
  /* z-index: 999999999; */
}
.addQuestionIconWrapper {
  height: 30px;
  width: 30px;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* <>...........<Add Question Modal CSS> */
.questionBarProgress {
  width: 100%;
  height: 8px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 3px;
  gap: 4px;
  align-items: center;
  position: relative;
  background-color: #e0e0e0;
}
.questionBarProgress .dot {
  height: 4.68px;
  width: 4.68px;
  border-radius: 50%;
  background-color: #51477f;
  position: relative;
  z-index: 10;
}
.dot:nth-child(1) {
  background-color: white;
}
.questionBarProgress .progressBar {
  position: absolute;
  background-color: #51477f;
  height: 100%;
  width: 20%;
  border-radius: 15px;
  left: 0;
}

/* <>...........<Add Question Modal CSS> */

/* <>........................<Community Route all css including components> */
.communityWrapper {
  box-shadow: 0px 11px 24px 0px #8a89892b;
  background-color: #efefef;

  /* margin-top: 14px; */
}

.singleChatWrapper {
  height: 100%;
  border-radius: 15px;
}
/* .SingleChat {
  background-color: red;
} */
.ChatsWrapper {
  height: 100%;
  border-radius: 15px;
}

.messageWrapper {
  height: 90%;
  max-height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 15px;
}
.SearchWrapper {
  width: 100%;
  height: 34px;
  border-radius: 7.4px;
  background-color: #edebf1c9;
  padding: 2px 10px;
  display: flex;
  gap: 2px;
  align-items: center;
}
.SearchWrapper input[type="text"] {
  outline: none;
  border: none;
  border-radius: 7.4px;
  color: #463c7763;
  width: 90%;
  background-color: transparent;
  font-size: 12px;
}
.SearchWrapper .searchIcon {
  height: 20px;
  width: 20px;
  color: #463c77;
}
.chatWrapper img {
  height: 38px;
  width: 37px;
  min-width: 37px;
  border-radius: 7.2px;
  object-fit: cover;
}
.chatWrapper .userName {
  font-size: 12px !important;
  font-weight: bold;
}
/* Text Chip */
.textChip {
  padding: 2px 5px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  border: none;
  font-size: 10px;
}
.chatWrapper .message {
  padding: 0;
  margin: 0;
  font-size: 11px;
  max-width: 96%;
  overflow: hidden;
  max-height: 32px;
  background-color: white;
}
.chatWrapper .chatFooter {
  font-size: 9px !important;
}
.chatFooter .icon {
  height: 13px;
  width: 13px;
  color: #9fa7be;
}
.chatWrapper {
  border-top: 0.1px solid #afb8cf !important;
  /* border-bottom: 0.1px solid #afb8cf !important; */
  padding: 10px 15px;
  /* margin-top: 5px; */
}
.customDivider {
  background-color: #afb8cf;
  padding: 0.1px 0;
}

/* Single Chat */
.chatHeader {
  height: 10%;
  background-color: #463c77;
  color: white;
  align-items: center;
  padding: 0 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.chatHeader .userDp {
  height: 38px;
  width: 37px;
  min-width: 37px;
  border-radius: 7.2px;
  object-fit: cover;
  border: 1px solid white;
  padding: 1px;
}
.chatHeader .chatUserName {
  font-size: 14px;
}
.messages {
  height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 15px;
}
.chatFooterMain {
  height: 10%;
  background-color: #edebf1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  border: 1px solid #d4d1df;
  padding: 0 15px;
  color: white;
  /* justify-content: space-between; */
  gap: 5px;
}
.emojiWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #463c77;
  border-radius: 50%;
  padding: 8px;
  color: white !important;
}
.addFileChatWrapper {
  background-color: #463c77;
  color: white;
  border-radius: 50%;
  padding: 3px;
}
.chatFooterMain input {
  border: none;
  outline: none;
  width: 100%;
}
.chatInputWrapper {
  border: 1px solid #d4d1df;
  height: 40px;
  background-color: white;
  border-radius: 24px;
  padding: 0 10px;
  /* flex-grow: 1; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* CHAT GPT CHAT CODE */
.chat-box {
  display: flex;
  flex-direction: column;
}

.message {
  max-width: 70%;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 8px;
}

.sent {
  align-self: flex-end;
  background-color: #dcf8c6; /* Example background color for sent messages */
}

.received {
  align-self: flex-start;
  background-color: #e2e2e2; /* Example background color for received messages */
}

.message-content {
  font-size: 14px;
}

.message-timestamp {
  font-size: 12px;
  color: #777;
}

/* CHAT GPT CHAT CODE */

/*Chat css */
.sentMessageBubble {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.chatBubbleSent {
  height: auto;
  padding: 15px 10px;
  background-color: #463c77;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  color: white;
}
.RecievedMessageBubble {
  background-color: #edebf1 !important;
  height: auto;
  padding: 15px 10px;
  background-color: #fff;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  color: black;
}
.chatTimeStamprecieved {
  color: #afb8cf;
  font-size: 12px;
}
.chatTimeStampsent {
  position: absolute;
  right: 2px;
  color: #afb8cf;
  font-size: 12px;
  white-space: nowrap;
  top: 100%;
}
.chatsMain {
  width: 35%;
  height: 83vh;
}

/*Chat css */
/* <>........................<Community Route all css including components> */

/* <>............................<Library Route css starts>............................ */
.libraryCard {
  border-radius: 15px;
}
.libraryCard .libraryImageWrapper {
  height: 200px;
  width: 100%;
}
.libraryImageWrapper img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.authorSection {
  color: #7a7a7a;
  font-size: 12px;
}
.bookDetailsModalHeader {
  background-color: #edebf1;
}
.bookDetails label {
  font-size: 12px;
  color: #7a7a7a;
}
.bookModelDescription {
  height: 120px;
  max-height: 120px;
  white-space: wrap;
  overflow: hidden;
  font-size: 14px;
  color: #7a7a7a;
}
.bookDetailsFooter .btnDownload {
  width: auto;
  padding: 10px 20px;
  background-color: var(--bg-primary);
  color: white;
  border-radius: 6px;
  border: none;
  font-size: 12px;
}
.bookDetailsFooter .btnCancel {
  width: auto;
  padding: 10px 20px;
  color: var(--bg-primary);
  border-radius: 6px;
  border: none;
  font-size: 12px;
}
/* <>............................<Library Route css ends>............................ */

/* Bilal css */
.select-bg {
  color: #aeb6bd;
}
/* awais css */
.Salary_card {
  padding: 30px;
}
.Salary_Report {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 20px;
}
.Salary_Report .Student_Data {
  gap: 50px;
  display: flex;
  padding: 5px;
}
.Exam_style {
  color: #7a7a7a;
}
.font_color {
  font-weight: bold;
}
.Salary_Data,
.Salary_Heading {
  border: 1px solid hsl(0, 0%, 87%);
  padding: 8px;
}
.Salary_Data {
  text-align: center;
}
.Salary_Heading {
  background-color: #463c77;
  color: #dddddd;
  text-align: center;
}
tr:nth-child(even) {
  background-color: #463c771a;
}
.Table_Card {
  margin-top: 20px;
  border-radius: 10px;
  overflow-x: auto;
}

.Report_style {
  text-align: center;
  background-color: #edebf1;
  font-family: "PoppinsReg";
  padding: 20px 0;
  font-weight: bold;
}

.Report_button {
  display: flex;
  justify-content: end;
  gap: 10px;
  margin-top: 25px;
}

/* awais css ends*/
/* Media Queries */

/* sidebar media queires */
@media (max-width: 600px) {
  .sidebarWrapperSm,
  .sidebarOuterSm {
    display: none;
  }
  .mneuIcon {
    display: block;
  }
}
@media (max-width: 993px) {
  .sidebarWrapperSm,
  .sidebarOuterSm {
    width: 8%;
  }
  .sidebarOuterLg {
    width: 28%;
  }
  .sidebarWrapperLg {
    width: 22%;
  }
}
@media (min-width: 600px) {
  .sidebarWrapperLg,
  .sidebarWrapperSm,
  .sidebarOuterLg,
  .sidebarOuterSm {
    display: flex !important;
  }
}
@media (min-width: 600px) {
  .miniSidebar {
    display: none;
  }
  .mneuIcon {
    display: none;
  }
}
/* sidebar media queires ends here.*/

/* ........................<Course Route Media queries>........................... */
/* @media (max-width: 860px) {
  .filterationCourse {
    width: 50%;
  }
  .coursesWrapper {
    width: 50%;
  }
  .filterationCourse {
    display: none;
  }
  .coursesWrapper {
    width: 100%;
  }
  .courseLists {
    justify-content: center;
  }
}
@media (min-width: 860px) {
  .filterIcon {
    display: none;
  }
}
@media screen and (min-width: 860px) and (max-width: 1400px) {
  .filterationCourse {
    width: 40%;
  }
  .coursesWrapper {
    justify-content: center;
  }
  .courseCard {
    width: 30rem !important;
  }
} */
/* ........................<Course Route Media queries ends>........................... */
