:root {
  --bg-primary: #463c77;
}
a {
  text-decoration: none;
}
.cursor-pointer {
  cursor: pointer;
}
.customShadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* .customSidebarScroll {
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--bg-primary);
  ::-webkit-scrollbar {
    width: 6px !important;
    border-radius: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--bg-primary);
    border-radius: 12px;
  }
  ::-webkit-scrollbar-track {
    background-color: var(--bg-primary);
    border-radius: 4%;
  }
} */
/* .................<Sidebar starts>....................... */
.linksScroll {
  overflow-y: auto;
  height: 100%;
  max-height: 100%;
}

.sidebarOuterLg {
  position: relative;
  z-index: 50;
  border-radius: 15px;
  background-color: transparent;
  height: 100vh;
  width: 22%;
  transition: width 0.2s linear;
}
.sidebarOuterSm {
  position: relative;
  z-index: 50;
  /* margin: 5px 5px; */
  border-radius: 15px;
  background-color: transparent;
  height: 100vh;
  width: 6%;
  transition: width 0.2s linear;
}
.sidebarWrapperSm {
  /* position: relative; */
  margin: 5px 5px;
  border-radius: 15px;
  background-color: var(--bg-primary);
  height: 100vh;
  width: 5%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 40px 8px;
  transition: width 0.2s linear;
}
.sidebarWrapperLg {
  /* position: relative; */
  margin: 5px 5px;
  border-radius: 15px;
  background-color: var(--bg-primary);
  height: 100vh;
  max-height: 100vh;
  /* overflow-y: auto; */
  width: 17%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 40px 8px;
  transition: width 0.2s linear;
}
.smSidebarWrapper {
  position: relative;
  margin: 5px 5px;
  border-radius: 15px;
  background-color: var(--bg-primary);
  height: 100vh;
  width: 5%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 40px 8px;
}
.sidebarLogo img {
  width: 143px;
  height: 81px;
  max-width: 90%;
  object-fit: contain;
}
.divider {
  background-color: #979797b8;
  height: 1px;
  width: 100%;
}
.sidebarLink {
  /* height: 30px; */
  border-radius: 7px;
  padding: 10px 10px;

  cursor: pointer;
  color: white;
}
.sidebarLinkActive {
  border-radius: 7px;
  padding: 10px 10px !important;
  cursor: pointer;
  color: white;
  background-color: #585085;
}
.sidebarLink:hover {
  background-color: #585085;
}
.sidebarToggle {
  height: 30px;
  width: 30px;
  background-color: #463c77;
  position: absolute;
  right: -14px;
  top: 127px;
  display: flex;
  justify-content: centere;
  align-items: center;
  color: white;
  border: 1px solid #463c77;
  box-shadow: -6px 0px 22px 0px #191e4566;
  border-radius: 7px;
  cursor: pointer;
}
.sidebarLinks {
  /* height: 100%; */
  /* background-color: red; */
  /* max-height: 100%; */
  overflow-y: scroll;
}
/* .................<Sidebar ends>....................... */
/* .................<Navbar Starts>....................... */

.navbarWrapper {
  /* height: 120px !important; */
  padding: 15px 0px 15px 15px;
  width: 100%;
  background: #fff;
  margin-bottom: 30px;
}
.searchBox {
  height: 38px;
  border: 1px solid #5f5f5f4a;
  border-radius: 6px;
  background-color: #fff;
  width: 35%;
}
.searchBox svg{
  margin: 10px;
}
/* .ActionItems {
  width: 50%;
  justify-content: space-between;
} */
.routeName {
  width: 22%;
  height: 100%;
}
.menuItems {
  width: 40%;
  flex-grow: 1;
  height: 100%;
}
.navbarWrapper .searchBox input {
  outline: none;
  border: none;
}
.searchBoxWrapper {
  /* width: 49%; */
  height: 100%;
}
.chip {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #f93c65;
  top: -12px;
  right: -4px;
  padding: 10px;
}
.navAvatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #ebebeb;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.userSection {
  /* width: 100%; */
  /* flex-grow: 1; */
  white-space: nowrap;
  /* gap: 8px; */
}
/* .userDropdownIcon {
  position: absolute;
  right: -50px;
} */
.flagsDropdown {
  position: absolute;
  padding: 5px 10px;
  top: 24px;
  width: 130px;
  right: -4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  height: 120px;
  max-height: 120px;
  background-color: #ebebeb;
  overflow-y: scroll;
  border-radius: 7px;
  box-shadow: 0px 22px 0px #ebebeb;
}
.flagList {
  /* background-color: red; */
  border-radius: 6px;
  cursor: pointer;
  padding: 4px 3px;
}
.flagList:hover {
  background-color: rgb(214, 205, 205);
}
/* .................<Navbar ends>....................... */

/* main section css */
.routesWrapper {
  padding: 0 15px;
}
/* main section css ends here*/

/* test commit */
